[submodule "plugins/my_stackable_popup_menu"]
	path = plugins/my_stackable_popup_menu
	url = https://github.com/CopyPaste-Orbital2022/my_stackable_popup_menu
[submodule "plugins/selectable_items"]
	path = plugins/selectable_items
	url = https://github.com/CopyPaste-Orbital2022/selectable_items
[submodule "plugins/my_color_picker"]
	path = plugins/my_color_picker
	url = https://github.com/CopyPaste-Orbital2022/my_color_picker
[submodule "plugins/perfect-freehand-dart"]
	path = plugins/perfect-freehand-dart
	url = https://github.com/CopyPaste-Orbital2022/perfect-freehand-dart.git
